html {
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url(assets/background-image-tower-skyline.jpg);
    background-size: cover;
    background-position: center center;
}

.active-player-bg {
    background-color: #eFeDeD;
    border: 1px sold #9F9D9D;
}

.players {
    flex: 1 1 content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFDFD;
}

.player {
    width: 40rem;
    height: 70vh;
    flex: 1 1 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 200;
    color: #a1a1a1;
    text-transform: uppercase;
}

.global-score {
    font-size: 10rem;
    font-weight: 300;
    color: #FFA792;
    filter: drop-shadow(-.7rem 1rem .7rem rgba(202, 90, 62, 0.856));
}

.round-score {
    width: 30%;
    height: 30%;
    flex: 0 1 auto;
    font-size: rem;
    background-color: #EE8167;
    border-radius: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.round-score h4 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFDFD;
}

.score {
    font-size: 4rem;
    font-weight: 300;
    color: #FFFDFD;
    padding-bottom: 2rem;
}

.game-controls{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dice-display {
    font-size: 8rem;
    color: #CC5887;
    /* color: #cecece; */
    filter: drop-shadow(0 1rem 1.5rem rgba(202, 90, 62, 0.7));
}

.dice-display i {
    animation: spin 400ms linear 1;
    animation-play-state: paused;
}

.dice-display i:hover {
    animation-play-state: running;
}

.game-controls > :not(.dice-display) {
    color: #FFFDFD;
    transition: all 300ms ease-out;
}

.game-controls > :not(.dice-display):hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem .7rem rgba(202, 90, 62, 0.3);
}

.game-controls button {
    background-color: #FFA792;
    border: none;
    overflow: visible;
    line-height: normal;

    border-radius: 5rem;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.game-controls > :not(.dice-display):active {
    /* outline: none;
    border: none; */
    transform: translateY(.4rem);
    box-shadow: 0 .6rem .5rem rgba(202, 90, 62, 0.5);
}
    
button:focus {
    outline:0;
}

@keyframes spin{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(1turn)}
}